.nav {
    background-color: #2e3d4e;
    border-bottom-right-radius: 1rem;
    border-top-right-radius: 1rem;
    font-weight: bold;
    grid-area: nav;
    line-height: 3rem;
    margin: 1rem 0;
    padding: 1rem 1rem 1rem 2rem;
}
.item a {
    color: #bdbdbd;
    text-decoration: none;
    cursor: pointer;
    transition: .3s;
}

.item a.active_link {
    color: white;
    text-shadow: 0px 0px 8px white;
}

.friends_block {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    grid-gap: 3rem 0;
    margin-top: 3vh;
}