.item {
    padding: 1rem;
    background: #2e3d4e;
    margin: 1rem 0;
    border-radius: 1rem;
}
.item img {
    color: yellow;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    object-fit: cover;
}