.header {
    grid-area: header;
    background-color: #2e3d4e;
}
.header img {
    width: 5rem;
    padding: 1rem;
}
.logBlock {
    float: right;
    padding: 1rem;
}
.logBlock a {
    color: white;
    text-decoration: none;
}